<div class="px-40 mt-10 flex flex-col justify-center">
  @if (isEdit) {
    <h1 class="heading">Update Category</h1>
  } @else {
    <h1 class="heading">Add New Category</h1>
  }

  <form class="shadow-sm" [formGroup]="categoryForm">
    <div class="flex flex-col w-full">
      <div>
        <mat-form-field class="w-full">
          <mat-label>Category Name</mat-label>
          <input matInput type="text" formControlName="name" />
        </mat-form-field>
      </div>

      <div class="px-5 w-full flex justify-start my-4">
        @if (isEdit) {
          <button
            mat-raised-button
            color="primary"
            (click)="update()"
            [disabled]="categoryForm.invalid"
          >
            Update
          </button>
        } @else {
          <button
            mat-raised-button
            color="primary"
            (click)="add()"
            [disabled]="categoryForm.invalid"
          >
            Add Category
          </button>
        }
      </div>
    </div>
  </form>
</div>
