<div class="py-10 px-20">
  <h3 class="heading">Orders</h3>
  @for (order of orders; track $index) {
    <div class="mb-10">
      <div class="flex justify-between">
        <div class="flex flex-col">
          <h6><span>Order Id:</span> {{ order._id }}</h6>
          <h6><span> Date: </span>{{ order.date | date: "mediumDate" }}</h6>
          <h6><span>Customer Address 1:</span>{{ order.address.address1 }}</h6>
          <h6><span>Customer Address 2:</span>{{ order.address.address2 }}</h6>

          <h6><span>City:</span>{{ order.address.city }}</h6>

          <h6><span>Pin Code:</span>{{ order.address.pincode }}</h6>
        </div>
        <div>
          <mat-button-toggle-group
            [value]="order.status"
            name="status"
            aria-label="Font Style"
            (change)="statusChanged($event, order)"
          >
            <mat-button-toggle value="dispatched">Dispatched</mat-button-toggle>
            <mat-button-toggle value="shipped">Shipped</mat-button-toggle>
            <mat-button-toggle value="delivered">Delivered</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="shadow-md">
        @for (item of order.items; track $index) {
          <div class="flex items-center p-4">
            <!-- Product Image -->
            <img
              [src]="item.product.images[0]"
              alt="{{ item.product.name }}"
              class="w-24 h-24 object-contain rounded-lg bg-gray-100"
            />

            <!-- Product Info -->
            <div class="flex-1 ml-4">
              <h2 class="text-lg font-semibold text-gray-800">
                {{ item.product.name }}
              </h2>
              <p class="text-gray-500 text-sm">
                {{ item.product.shortDescription }}
              </p>
            </div>

            <!-- Quantity Controls -->

            <!-- Original Price -->
            <div class="w-24 text-center text-gray-500 line-through">
              Rs {{ item.product.price }}
            </div>

            <!-- Discount -->
            <div class="w-24 text-center text-red-600 font-medium">
              {{ item.product.discount }}%
            </div>

            <!-- Final Price -->
            <div class="w-24 text-center text-gray-800 font-semibold">
              Rs {{ sellingPrice(item.product) * item.quantity }}
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
