

// $primary-color: #4890de;
$primary-color: #3f51b5;

$text-color: #333;
$white: #f8f8f8;
$border-color: #ddd;
$font-stack: "Poppins", sans-serif;

.header {
  width: 100%;
  border-bottom: 1px solid $border-color;
  font-family: $font-stack;

  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: $primary-color;

    .logo {
      font-size: 1.8rem;
      font-weight: 600;
      color: $text-color;
    }

    .profile {
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .category-bar {
    background-color: $primary-color;
    padding: 10px 0;

    ul {
      display: flex;
      justify-content: center;
      gap: 30px;
      list-style: none;

      li {
        a {
          text-decoration: none;
          color: $text-color;
          font-weight: 700;
          transition: color 0.3s ease;

          &:hover {
            color: $white;
            text-decoration: underline;
            text-underline-offset: 5px;
          }
        }
      }
    }
  }
}
hr {
  height: 2px;
  border: none;
  background-color: $white;
  color: $text-color;
  margin: 0;
}
