<div class="flex px-10 Py-2">
  <div class="w-4/12">
    <H5>Filters</H5>
    <div class="flex flex-col">
      <div class="w-full p-2">
        <mat-form-field class="w-full p-2 mb-4">
          <mat-label>Category</mat-label>
          <mat-select
            [(ngModel)]="categoryId"
            name="categoryId"
            (valueChange)="loadProducts()"
          >
            @for (item of category; track $index) {
              <mat-option [value]="item._id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full p-2 mb-4">
          <mat-label>Brand</mat-label>
          <mat-select
            [(ngModel)]="brandId"
            name="brandId"
            (valueChange)="loadProducts()"
          >
            @for (item of brand; track $index) {
              <mat-option [value]="item._id">{{ item.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w-full p-2 mb-4">
          <mat-label>Order By</mat-label>
          <mat-select
            [(ngModel)]="sortOrder"
            name="sortOrder"
            (valueChange)="orderChange($event)"
          >
            <mat-option [value]="1">Price Low to High</mat-option>
            <mat-option [value]="-1">Price Hight to Low</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- <div>Products</div> -->
  <div class="flex flex-wrap flex-between">
    <!-- <div class="grid grid-cols-5 gap-6 justify-items-center"> -->
    <div
      class="grid! gap-3 justify-items-center grid-cols-2! md:grid-cols-3! lg:grid-cols-5!"
    >
      @for (product of products; track $index) {
        <app-product-card [product]="product"></app-product-card>
      } @empty {
        No Products Found
      }
    </div>

    <!-- <div class="flex">
      <button
        mat-raised-button
        color="primary"
        [disabled]="page == 1"
        (click)="pageChange(page - 1)"
      >
        Previous
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="pageChange(page + 1)"
        [disabled]="isNext"
      >
        Next
      </button>
    </div> -->
  </div>
</div>
