// .carousel img {
//   width: 100%;
//   height: 300px;
//   object-fit: contain;
//   background: #f5f5f5;
//   border-radius: 10px;
// }
.carousel {
  margin-top: 20px;
}

.carousel img {
  width: 100%;
  height: 350px;
  object-fit: contain;
  border-radius: 10px;
  background: #f5f5f5;
}

h1 {
  font-weight: 900;
  font-size: x-large;
}
